html {
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

body{
  font-family: "Karla", 'Cairo',"Open Sans", Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #676767;
  overflow-x: hidden;
  position: relative;
}


a:hover{
  text-decoration: none;
}

/* home */
/* logo */

.saturate {
  filter: saturate(3);
}
.grayscale {
   filter: grayscale(100%);
 }
.contrast {
  filter: contrast(160%);
 }
.brightness {
  filter: brightness(0.25);
}
.blur {
  filter: blur(3px);
}
.invert {
  filter: invert(100%);
 }
.sepia {
  filter: sepia(100%);
}
.huerotate {
   filter: hue-rotate(180deg);
  }
.rss.opacity {
  filter: opacity(50%);
}

/* down-arrow */
.arrow-container{
  text-align: center;
  padding-top: 150px;
  background: transparent;
  color: white;
}

.fa-angle-double-down{
  color: white;
  background-color: grey;
  background: radial-gradient(at center, grey 40%, transparent 70%);
  padding: 20px;
}

.home-outer {
  margin-top: 100px;
  margin-bottom: 20%;;
}

.home-inner {
  max-width: 580px;
  width: 100%;
}

.home-container {
  padding: 70px 110px;
}

.home-name {
  font-size: 3.8rem;
}

.home-description {
  font-size: 1.4rem;
}

.parallax-window {
    min-height: 600px;
    background: transparent;
}

/* arrow */
.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
/* backgroud trans */

.home-bg-trans-black {
  background-color: rgba(0, 0, 0, 0.5);
}

.home-bg-trans-white {
  background-color: rgba(255, 255, 255, 0.8);
}
/* about */

#about{
  padding-bottom: 2%;
  padding-top: 2%;
}

.about-container {
  /* padding-top: 100px; */
  min-height: 400px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  /* height: 20px: */
  display: flex;
  align-items: stretch;
}

.about-left-col {
  display: flex;
  align-items: center;
}

.about-left {
  padding-right: 30px;
  padding-top: 50px;
  padding-bottom: 50px;
  color: black;
}

.about-title {
  margin-bottom: 80px;
}

.about-right {
  color: white;
  margin: 10px;
  height: 100%;
  padding-top: 10px;
  padding-left: 50px;
}

.pp{
  width: auto;
  height: 500px;
  object-fit: cover;
}

p {
  line-height: 1.8;
}
/* card */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 320px;
  margin: auto;
  text-align: center;
  float: left;
  font-family: "Karla", 'Cairo',"Open Sans", Arial, Helvetica, sans-serif;
  border-radius: 10px;
}

.card img{
  border-radius: 10px;
}

.title {
  color: grey;
  font-size: 18px;
}

.card button {
  border: none;
  outline: 0;
  display: inline-block;
  /* padding: 8px; */
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card h1{
  color: black;
  font-family: 'Cairo', sans-serif;;
}

.card-elements{
  text-align: center;
  font-weight: bold;
  padding-bottom: 20px;

}

.card a {
  text-decoration: none;
  font-size: 22px;
  color: black;
  padding: 4px;

}

.card p{
  color: black;
  font-family: "Karla",'Cairo', "Open Sans", Arial, Helvetica, sans-serif;
}

.card button:hover, a:hover {
  opacity: 0.7;
}

/* navbar */
.nav-right{
  float: right;
}
.navbar{

}


/* projects */

#project-title{
  text-align: center;
  margin: 2%;
}

.project-img{
  width: 70%;
  max-width: 100%;
  height: 180px;
  margin: 5%;
  border-radius: 10px
}

.project-img:hover {
  width: 10%;
  transition: width 3s ease-in-out;
}


.grid-container {
  display: inline-grid;
  grid-template-columns: auto auto;
  padding: 40px;
  padding-left: 200px;
  padding-bottom: 100px;
}
.grid-item {
  padding: 30px;
  font-size: 30px;
  text-align: center;
}

.btn-proj{
  background-color: #e7e7e7; color: black;
  border-radius: 20px;
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  -webkit-transition-duration: 0.4s;
  display: inline-block;
  transition-duration: 0.4s;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  overflow: hidden;
}

.btn:hover{
  background-color: #555;
}

.shown{
  display: block;

}
.hide{
  display: none;
}

.card-proj {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 55%;
  height: auto;
  font-size: 70%;
}

.card-proj p{
  font-size: 95%;
}


/* On mouse-over, add a deeper shadow */
.card-proj:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.container-card {
  padding: 2px 16px;
}

.card-border{
  margin: 20px;
  padding: 20px;
  border-radius: 20px;
}

@media only screen and (max-width:749px) {
  .parallax-window {
    background-attachment: inherit;
  }
  .grid-container {
    display: grid;
    grid-template-columns: auto;
    padding-left: 20px;
    padding-bottom: 100px;
  }
  .grid-item {
    /* padding: 30px; */
    font-size: 50px;
    text-align: center;
  }
  .grid-item p{
    text-decoration: none;
    font-size: 10px;
    width: auto;
    text-align: center;
  }
  .card-proj {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 90%;
    height: auto;
    font-size: 70%;
  }

  .project-img{
    width: 50%;
    max-width: 100%;
    height: auto;
    margin: 5%;
    border-radius: 10px
  }
  .extra_content {
     display: none;
   }
   .btn-proj{
     padding: 10%;
     font-size: 90%;
   }

   #project-title{
     text-align: center;
     margin-top: 5%;
   }
   .project-img:hover {
     width: 90%;
     transition: width 3s ease-in-out;
   }
   #myBtn {
     background-color: #555; /* Set a background color */
   }
   #myBtn:hover {
     background-color: linear-gradient(0deg, rgba(136,203,171,1) 0%, rgba(0,13,60,1) 100%); /* Add a dark-grey background on hover */
   }

}

@media screen and (max-width:749px) {

  .home-name {
    font-size: 3rem;
    float: inherit;
  }
  .home-container {
    padding: 20px;
  }
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 340px;

    text-align: center;
    float: none;
    margin-right: 20px;
    font-family: "Karla", 'Cairo',"Open Sans", Arial, Helvetica, sans-serif;
  }
  .about-right {
    color: white;
    height: 100%;
    padding: 10px;
  }
  .about-left {
    text-align: center;
    color: black;
  }

}

/* contact */

.contact-head{
  padding: 15%;
  text-align: center;
  color: black;
}
.contact-head a{
  margin-bottom: 2%;
}
.btn-contact{
  border-radius: 20px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  padding: 15px 32px;
}



.show {
   display: block!important;
}

/* button top_top */
#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: linear-gradient(0deg, rgba(136,203,171,1) 0%, rgba(0,13,60,1) 100%); /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
  opacity: 0.7;
}

#myBtn:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}
